body {
    display: flex;
    justify-content: center;
}

.main {
    border: 3px solid rgba(0, 0, 0, 0.473);
    border-radius: 10px;
    background-color: rgb(215, 168, 80);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
}

.container {

    border-radius: 10px;
    background-color: rgb(232, 218, 200);
    width: 30vh;
    font-size: medium;
    font-family: 'Times New Roman', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    padding: 10px;
}

